                    * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            
            html,
            body {
                height: 100%;
            }
            
            body {
                display: flex;
                flex-direction: column;
                font-family: 'Zen Kaku Gothic Antique', sans-serif;
                background-color: #ffffff;
            }
            
            header,
            footer {
                width: 100%;
            }
            
            ul {
                list-style: none;
                text-align: center;
                line-height: 2.5;
                padding: 30px;
                color: black;
            }
            
            a {
                text-decoration: none;
                color: black;
            }
            
            nav {
                font-family: 'Zen Kaku Gothic Antique', sans-serif;
                font-weight: 400;
                color: black;
                letter-spacing: .05em;
            }
            
            h1,
            .topnav {
                padding-top: 20px;
                text-align: center;
                font-weight: 800;
            }
            
            .top nav,
            .top nav li {
                width: 100%;
                padding: 30px;
            }
            
            h1 a,
            .top nav {
                color: #000;
            }
            
            .top nav {
                position: relative;
                margin-left: 30px;
                padding-left: 10px;
            }
            
            .top nav li {
                padding: 10px;
                margin: 10px 0;
                line-height: 100;
                background-color: rgb(0, 0, 0);
            }
            
            .top-nav a {
                text-transform: uppercase;
            }
            
            .container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                flex-direction: row;
            }
            
            .section img {
                width: 100%;
                padding: 25px;
            }
            
            h4 {
                text-align: center;
                font-size: larger;
                margin: 20px 25px;
                text-transform: uppercase;
                padding-right: 25px;
            }
            
            h2 {
                font-size: 12px;
                padding-right: 50px;
            }
            
            .portfolio {
                width: 100%;
                padding: 10px;
                text-align: center;
            }
            
            .contact {
                padding: 15px;
                text-align: center;
            }
            
            .col {
                margin: 10px;
                color: rgb(255, 255, 255);
                text-align: center;
                letter-spacing: 1px;
                padding-top: 5px;
            }
            
            .profile-picture {
                width: 100%;
                padding: 5%;
                margin: auto;
                display: flex;
            }
            
            .intro {
                padding-top: 10px;
                text-align: center;
            }
            
            .paragraph {
                text-align: center;
                padding-bottom: 15px;
            }
            
            .number {
                text-align: center;
                padding: 7px;
            }
            
            .email {
                text-align: center;
                padding: 7px;
            }
            
            .footer-nav {
                display: inline-block;
                min-height: 100%;
                text-align: center;
            }
            
            .foot {
                display: none;
                text-transform: uppercase;
            }
            
            .footer-name {
                padding-right: 10px;
                font-weight: 800;
            }
            
            .back-to-top {
                flex-direction: row-reverse;
                display: flex;
                text-transform: uppercase;
                justify-content: space-between;
                padding-left: 10px;
            }
            
            footer {
                background-color: #fafafa;
                flex-direction: row-reverse;
                padding: 50px 15px;
            }
            
            @media (min-width: 768px) {
                .top-nav li {
                    display: inline-block;
                    width: initial;
                    margin-right: 5px;
                    background-color: transparent;
                }
                .top-nav a {
                    color: #000;
                }
                .intro {
                    display: flex;
                    float: left;
                    padding-bottom: 20px;
                    vertical-align: middle;
                }
                .container {
                    width: 100%;
                }
                .section {
                    padding: 15px;
                    max-width: 360px;
                }
                p {
                    font-size: 20px;
                    padding-top: 20px;
                }
                .section img {
                    width: 100%;
                }
                .col {
                    flex-basis: calc(50% - 20px);
                }
                .footer-name {
                    margin-right: auto;
                    float: left;
                }
                .foot {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    float: right;
                    padding-right: 40px;
                    margin: 5px 0 0 0;
                    text-align: right;
                }
                ul .foot {
                    display: inline-block;
                }
                .back-to-top {
                    display: none;
                }
                @media (min-width: 1024px) {
                    nav {
                        display: flex;
                        padding: 25px;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .section {
                        max-width: 280px;
                    }
                    .profile-picture {
                        width: 100%;
                        margin: auto;
                        display: inline-block;
                    }
                    .intro {
                        float: right;
                        flex-direction: column-reverse;
                        align-items: center;
                        justify-content: center;
                    }
                    .col {
                        flex-basis: calc(33.333% - 20px);
                    }
                    .footer-name {
                        margin-right: auto;
                        font-weight: 800;
                    }
                    .back-to-top {
                        display: none;
                    }