* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #ffffff;
}

header {
    margin: 0;
}

ul {
    list-style: none;
    text-align: center;
    padding: 30px;
    color: black;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    letter-spacing: .05em;
}

h1,
.topnav {
    padding-top: 20px;
    text-align: center;
}

.top nav,
.top nav li {
    width: 100%;
}

h1 a,
.top nav {
    color: #00000;
}

.top nav {
    margin-top: 25px;
}

.top nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: rgb(0, 0, 0);
}

.top-nav a {
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

.section img {
    width: 100%;
    padding: 25px;
}

h4 {
    text-align: center;
    font-size: larger;
    margin: 20px 25px;
    text-transform: uppercase;
    padding-right: 25px;
}

#portfolio {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.col {
    margin: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
}

.profile-picture {
    width: 100%;
    padding: 5%;
    margin: auto;
    display: flex;
}

.contact {
    padding: 15px;
    text-align: center;
}

.intro {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}

.paragraph {
    text-align: center;
    padding-bottom: 15px;
}

.number {
    text-align: center;
    padding: 7px;
}

.email {
    text-align: center;
    padding: 7px;
}

footer {
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
}

.back-to-top {
    display: none;
}

@media (min-width: 768px) {
    .top {
        display: none;
    }
    .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: transparent;
    }
    .top-nav li:last-child {
        margin-right: 0;
    }
    .top-nav a {
        color: #00000;
    }
    .intro {
        display: flex;
        flex-direction: row-reverse;
        align-items: initial;
    }
    .container {
        width: 100%;
    }
    .section {
        padding: 15px;
        max-width: 360px;
    }
    .section img {
        width: 100%;
    }
    .col {
        flex-basis: calc(50%-20px);
    }
    .foot {
        display: none;
        align-self: flex-start;
        margin-left: 20px;
        width: auto;
    }
    .back-to-top {
        display: flex;
    }
}

@media (min-width: 1024px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .top-nav,
    .top-nav li {
        width: initial;
        margin-bottom: 0;
        color: rgb(0, 0, 0);
    }
    .section {
        max-width: 280px;
    }
    .intro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .foot {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .back-to-top {
        display: none;
    }
}